body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.body-bg {
    background-image: url('../images/bois-texture-1456353976vDQ.jpg');
    background-size: cover;
}

.color-grey {
    color: #4b4b4b;
     /* color: orange; */
} 

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Serif', serif; 
}

.cv {
    margin-top: 50px;
    border: 1px solid #4b4b4b;
    box-shadow: 1px 1px 10px #000;
}

.cv-header, .profile, .experiance, .company-name {
    font-family: 'IBM Plex Serif', serif;
}
.cv-left {
    background: #4b4b4b;
    min-height: 30vh;
    color: #fff;
}

.cv-right {
    background: #fff;
    min-height: 30vh;
    color: #131313;

}
/* photo-block section*/

.photo-block {
   
text-align: center;
}

.contacts-block li {
    list-style: none;
}
.cv-left a {
    color: #fff;
}

.cv-left:hover a {
    text-decoration: none;
}
.cv-left ul {
    line-height: 175%;
    padding-left: 30px;
}
.cv-left ul.contact-block {
   list-style-type: none;
   padding-left: 0;
}
.cv-left .address {
    font-style: italic;
}

.skills-block {
    font-size: 20px;
}
article {
    padding: 20px;
}

.company-name {
    font-size: 1.1rem;
    text-transform: uppercase; 
   
}

.company-name i {
    font-size: .8rem;
    text-transform: none;
    font-family: Aria, sans-serif;
}
.job-title {
    font-size: 1.4rem;
   text-transform: uppercase;
   letter-spacing: 5px;
}

.lines::before, .lines::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    border:1px solid #4b4b4b;
    vertical-align: middle;
}

.lines::after {
    margin-right: -100%;
}

.lines::before {
    margin-left: -100%;
}
.lines {
    overflow: hidden;
}

@media (max-width:991.98px) {
    .cv-left h1, .cv-left h2, .cv-left h3, .cv-left h4 {
        font-size: 1.3rem;
    }
         .cv-left ul {
             line-height: 150%;
             padding-left: 25px;
         }
}

@media (max-width:575.98px) {
    .cv {
        margin-top: 0;

    }
   
    .container {
        margin-bottom: 0%;
    }
    .photo-block img {
        display: block;
        width: 50%;
        margin: 20px auto;
    }
}

